
.popover-content {
    top: 93.5px;
    left: 40px;
    transform-origin: left top;
}

.sc-ion-popover-md-h {
  --max-height: 60% !important;
}

ion-radio {
  margin-right: 10px !important;
}

ion-spinner {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50px;
  --color: var(--ion-color-theme);
}

ion-button {
  width: 100%;
  height: 40px;
  --border-radius: 30px;
  --background: var(--ion-color-theme);
  --background-activated: var(--ion-color-theme) !important;
  --background-focused: var(--ion-color-theme) !important;
  --background-hover: var(--ion-color-theme) !important;
}

.body {
  position: relative;
  height: 300px;
  overflow: scroll;
}

.footer {
  position: relative;
  height: 55px;
}