<ion-content>
  <ion-grid>
   <ion-row class="body" justify-content-center>

    <ion-col size="12">
     <ion-item>
      <h5>Seleziona posizione</h5>
     </ion-item>
    </ion-col>

    <ion-col size="11">
      <div class="search">
        <ion-searchbar
          class="search-btn"
          [(ngModel)]="searchTerm"
          (ionInput)="filterSearch($event)"
          searchIcon="searchbar-custom"
          placeholder="cerca"
          debounce="700"
        ></ion-searchbar>
      </div>
    </ion-col>

    <ion-col size="10" *ngIf="!pause">
      <ion-spinner name="circles"></ion-spinner>
    </ion-col>

    <ion-col size="10" *ngIf="positionsArray.length !== 0 && filterpositionsArray.length === 0">
      <ion-radio-group>
       <ion-item lines="none" *ngFor="let item of positionsArray">
        <ion-radio (click)="select(item.id_Posizione)"></ion-radio>
        <ion-label>{{ item.desPosizione }}</ion-label>
       </ion-item>      
      </ion-radio-group>
    </ion-col>
     
    <ion-col size="12" *ngIf="emptyCase">
     <ion-item lines="none">
      <ion-label style="color: red; overflow: visible;">
        {{ 'Nessun posizione corrisponde alla tua ricerca!' }}
      </ion-label>
     </ion-item>
    </ion-col>

    <ion-col size="10" *ngIf="filterpositionsArray.length !== 0">
      <ion-radio-group>
       <ion-item lines="none" *ngFor="let item of filterpositionsArray">
        <ion-radio (click)="select(item.id_Posizione)"></ion-radio>
        <ion-label>{{ item.desPosizione }}</ion-label>
       </ion-item>      
      </ion-radio-group>
    </ion-col>
    </ion-row>

  <ion-row class="footer">
    <ion-col size="6">
      <ion-button fill="clear" color="primary" (click)="cancel()" >CANCELLA</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button fill="clear" color="primary" (click)="selectedValue()">SELEZIONA</ion-button>
    </ion-col>
  </ion-row>

  </ion-grid>
</ion-content>