<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-grid class="table">
      <ion-row class="header-column" justify-content-center>
        <ion-col size="2.7">
          {{ enteryDate }}
        </ion-col>
        <ion-col size="2.3">
          {{ enteryTime }}
        </ion-col>
        <ion-col size="2.7">
          {{ exitDate }}
        </ion-col>
        <ion-col size="2.3">
          {{ exitTime }}
        </ion-col>
        <ion-col size="2">
         {{ note }}
        </ion-col>
      </ion-row>
      <ion-spinner *ngIf="!dataComming" name="dots"></ion-spinner>
      <ion-row class="button userTimeTable" justify-content-center *ngFor="let item of userInfo">
        <ion-col size="2.7">
          {{ item.timeIn | date : 'd/M/yy' }}
        </ion-col>
        <ion-col size="2.3">
          {{ item.timeIn | date : 'HH:mm:ss'}}
        </ion-col>
        <ion-col size="2.7">
          {{  item.timeOut | date : 'd/M/yy' }}
        </ion-col>
        <ion-col size="2.3">
          {{ item.timeOut | date : 'HH:mm:ss'}}
        </ion-col>
        <ion-col size="2" (click)="openpopover(item.note)" *ngIf="item.note !== ''">
          <a>{{ vedi }}</a>
        </ion-col>
        <ion-col size="2" *ngIf="item.note === ''">
          <p class="note" no-margin no-padding>{{ '-' }}</p>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-footer>
    <ion-grid class="grid-footer">
      <ion-row class="button row-footer" justify-content-center>
        <ion-col size-xs="9" size-sm="8" size="7" class="col-stampings">
          <ion-button
            class="backButton"
            (click)="backButton()">
              <p>{{ backButtonName }}</p>
          </ion-button>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-footer>  
</ion-content>
