
.table {
    padding: 0px 20px 0px 20px;
    --color: black;
    height: 77%;
    margin-top: 5%;
    overflow: scroll;
    text-align: center;

    ion-row {
        overflow: hidden;
        border: 1px solid #d9d9d9;
        border-right: none;
        border-bottom: none;
        border-top: none;
    }

    ion-row:first-child {
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        border: none;
        border-left: none;
        border-right: none;
        color: rgb(167, 167, 167);
    }
    ion-row:last-child {
        border-bottom-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border-bottom: 1px solid #d9d9d9;
    }
    ion-row:nth-of-type(odd) { 
        ion-col {
            background: rgba(157, 2, 3, 0.06) ;
        }
    }
        
    ion-col {
        border-right: 0.7px solid #d9d9d9;
    }
        
    a {
        text-decoration: underline;
        color: #000000;
    }
}
.bold {
    font-weight: bold;
}

.backButton {
    --background: var(--ion-color-theme) !important;
    --background-activated:  var(--ion-color-theme) !important;
    --background-focused:  var(--ion-color-theme) !important;
    --background-hover:  var(--ion-color-theme) !important;
    border-radius: 5px;
    box-shadow: 0px 2px 7px grey;
    font-size: 18px !important;
    color: rgb(167, 167, 167);
    width: 100%;
    height: 90%;
}

ion-footer {
    background-color: white;
    position: fixed;
    bottom:0;
}

.header-column {
    color: white;
    background-color: var(--ion-color-theme);
}

@media screen and (max-width: 830px) and (min-width: 750px) and (orientation: portrait) {
    .table {
        ion-col {
           font-size: 20px;
        }
    }
    .backButton {
        font-size: 25px !important;
    }
    
}
@media screen and (max-width: 749px) and (min-width: 550px) and (orientation: portrait) {
    ion-col {
        font-size: 14px;
    }
}
@media screen and (max-width: 549px) and (min-width: 423px) and (orientation: portrait) {
    ion-col {
        font-size: 13px;
    }
}
@media screen and (max-width: 423px) and (min-width: 320px) and (orientation: portrait) {
    ion-col {
        font-size: 11px;
    }
}

@media screen and (min-width: 831px) {
    .table {
        ion-col {
           font-size: 27px;
        }
    }
    .backButton {
        font-size: 35px !important;
    }
    
}

