ion-grid { }

.item-has-focus .label-floating {
  color: #ACACAC !important;
}

.exitButton {
    --background: var(--ion-color-red);
    --background-activated:  var(--ion-color-red) !important;
    --background-focused:  var(--ion-color-red) !important;
    --background-hover:  var(--ion-color-red) !important;
    color: white;
    width: 100%;
    height: 90%;
    margin-top: 15px;
    --box-shadow: 0px 2px 4px 0px grey;
    margin-top: 8%;
}

.backButton {
    margin-top: 35px;
    text-align: center;
    --background: dimgrey;
    --background-activated:  dimgrey !important;
    --background-focused: dimgrey !important;
    --background-hover:  dimgrey !important;
    color: white;
    width: 100%;
    height: 75%;
    --box-shadow: 0px 2px 4px 0px grey;
}

.errorCase {
    color: red;
    font-size: 16px;
    text-align: center;
    display: block;
    overflow: visible;
}

.causale-input {
  color: #ACACAC !important;
  --highlight-color-valid:  #acacac !important;
  --highlight-color-invalid:  #acacac !important;
}

.causale {
  margin-top: 7% !important;
  display: inline !important;
}

.camera-icon {
  font-size: 25px;
  margin: 20px 10px 0px 0px;
}

.inputQuantita {
    border-bottom: 1px solid #ACACAC;
    width: 115px;
}

focus.sc-ion-input-md-h input.sc-ion-input-md {
    pointer-events: auto;
    --highlight-color-focused: #acacac !important;
    --highlight-color-valid:  #acacac !important;
    --highlight-color-invalid:  #acacac !important;
}

ion-item {
  --highlight-color-focused: #acacac !important;
  --highlight-color-valid:  #acacac !important;
  --highlight-color-invalid:  #acacac !important;
}

.nota {
    text-align: center;
    font-size: 19px;
    font-family: 'Poppins';
    margin-top: 0px;
}

.time {
   font-size: 19px;
   text-align: center;
   margin-top: 0px;
}

.ora {
    color: #ACACAC;
    text-align: end;
    font-size: 15px;
    margin: 0% 13% 0% 0%
}

@media only screen and (min-width: 500px) and (max-width: 800px) and (orientation: portrait)  {

    .ora {
        font-size: 25px;
    }

    .time {
        font-size: 29px;
    }

    .nota {
        font-size: 29px;
    }

    .exitButton {
        height: 80%;
        margin-top: 8%;
    }
}

@media only screen and (min-width: 801px) {

    .ora {
        font-size: 35px;
        margin: 0% 9% 0% 0%
    }

    .time {
        font-size: 39px;
    }

    .nota {
        font-size: 39px;
    }

    .exitButton {
        height: 80%;
        margin-top: 8%;
    }
}

.camera-icon {
  font-size: 25px;
  margin: 33px 10px 0px 0px;
}
