<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="button" justify-content-center>
      <!-- <span>
        <ion-col size="6" class="nota"> {{ 'Codice:' }} </ion-col>
        <ion-col size="6"> {{'152365489555652'}} </ion-col>
      </span>
      <span>
        <ion-col size="6" class="nota">{{ 'Quantità' }}</ion-col>
        <ion-col size="6"> 
          <ion-input type="number" name="quantity" required></ion-input>
        </ion-col>
      </span>
      <span>
        <ion-col size="6" class="nota"> {{ 'Descrizione:' }} </ion-col>
        <ion-col size="6"> {{ 'Something Should be written in here so i did this!' }} </ion-col>
      </span> -->
      <ion-col size="8" class="nota" offset="1.3" class="ion-margin-bottom">
        <ion-item>
         <ion-label position="floating">Posizione</ion-label>
         <ion-input readonly="true" type="text" (ionChange)="givenPosition($event)" [(ngModel)]="this.positionSelectedDes" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-item lines="none" no-margin no-padding>
        <ion-col size="1.3" class="nota causale" class="ion-align-self-center ion-margin-bottom" (click)="positionPospover()">
          <ion-icon class="camera-icon" name="arrow-down" mode="ios"></ion-icon>
        </ion-col>
      </ion-item>
      <ion-col size="10" class="nota" offset="1.3" class="ion-margin-bottom" *ngIf="!!errorLocation">
        <ion-label>{{ errorLocation }}</ion-label>
      </ion-col>
      <ion-col size="10" class="nota" *ngIf="!!codiceCausale">
        <ion-item lines="none">
          <ion-text>{{ codiceCausale }}</ion-text>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="!!error" no-margin no-padding size="10" class="nota">
       <ion-item lines="none" >
        <ion-text class="errorCase">{{ errorMessage }}</ion-text>
       </ion-item>
      </ion-col>
      <ion-col size="10" no-margin no-padding class="nota" *ngIf="!!descriptionCausale">
        <ion-item lines="none">
         <ion-text>{{ descriptionCausale }}</ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="10" class="nota" *ngIf="quantita">
        <ion-item lines="none">
         <ion-label position="floating">Quantita</ion-label>
         <ion-input type="number" class="inputQuantita" [(ngModel)]="quantitaUser" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <p class="ora">{{ 'Ora' }}</p>
      </ion-col>
      <ion-col size="6">
        <p class="nota">{{'Nota'}}</p>
      </ion-col>
      <ion-col size="6"><p class="time">{{ time }}</p></ion-col>
    </ion-row>
  <ion-row class="button" justify-content-center>
    <ion-col size-xs="9" size-sm="8" size="7">
      <ion-textarea 
      rows="6" 
      cols="25"
      [(ngModel)]="leavedNote"
      ></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row class="button" justify-content-center>
    <ion-col size-xs="9" size-sm="8" size="7">
      <ion-button
        class="exitButton"
        (click)="exit()"
        [disabled]="!activate && leavedNote.length === 0">
        <p>{{ buttonName }}</p>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="button" justify-content-center margin-bottom>
    <ion-col size-xs="9" size-sm="8" size="7">
      <ion-button
        class="backButton"
        (click)="backButton()">
        <p>{{ backButtonName }}</p>
      </ion-button>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
