// ion-grid { }

// ion-header {
//     display: flex;
//     flex-direction: row;
//     position: initial !important;
//     order: -1;
//     width: 100%;
//     z-index: 10;
//     margin-bottom: 6%;
//     justify-content: center;
//     align-self: center;
// }

.button{ 
    width: 100%;
    font-size: 18px;
    --border-radius: 4px;
    border: none;
}

ion-textarea {
    box-shadow: 2px 1px 8px 0px;
    width: 100%;
    height: 100%;
    color: #CBCBCB;
    --placeholder-color: #CBCBCB;
    --placeholder-opacity: 1;
    --padding-start: 10px;
    font-size: 14px;
}

@media screen and (max-width: 500px) and (min-width: 320px) and (orientation: portrait) {
    .button {
        font-size: 16px;
    }

    ion-textarea {
        font-size: 16px;
    }
}

@media screen and (min-width: 500px) and (orientation: portrait) {
    .button {
        font-size: 32px;
    }
    ion-textarea {
        font-size: 24px;
    }
}

@media screen and (min-width: 800px) {
    .button {
        font-size: 37px;
    }
    ion-textarea {
        font-size: 34px;
    }
}

.alert-radio-label.sc-ion-alert-md {
    overflow: visible !important;
    white-space: normal !important;
    text-overflow: ellipsis !important;
    height: 63px !important;
    font-size: 13px !important;
    align-items: center !important;
    display: flex !important;
    -webkit-padding-start: 25px !important;
    padding-inline-start: 25px !important;
    -webkit-padding-end: 11px !important;
    padding-inline-end: 11px !important;
}

.alert-radio-icon.sc-ion-alert-md {
    left: 16px;
}

.alert-button-inner.sc-ion-alert-md{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.alert-radio-group.sc-ion-alert-md {
    overflow-y: scroll !important;
}

.alert-radio-label.sc-ion-alert-ios {
    overflow: visible !important;
    white-space: normal !important;
    text-overflow: ellipsis !important;
    height: 57px !important;
    font-size: 13px !important;
    align-items: center !important;
    display: flex !important;
    -webkit-padding-start: 25px !important;
    padding-inline-start: 25px !important;
    -webkit-padding-end: 11px !important;
    padding-inline-end: 11px !important;
}

.alert-radio-icon.sc-ion-alert-ios {
    left: 0px;
}

.alert-button-inner.sc-ion-alert-ios{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.alert-radio-group.sc-ion-alert-ios {
    overflow-y: scroll !important;
}

.popover-content.sc-ion-popover-md {
    top: 15% !important;
    left: 40px;
    transform-origin: left top;
    width: 80%;
    .radio-checked {
      --color-checked: var(--ion-color-theme);
    }
}

.sc-ion-popover-ios-h {
    --background: var(--ion-background-color,#fff);
    --min-width: 66% !important;
    --min-height: 0;
    --max-width: auto;
    --height: auto;
    left: 0%!important;
    right: -25% !important;
    top: -5%!important;
    bottom: 0;
}