ion-grid {
    margin: 0px 45px 0px 45px;
}

.title {
    font-size: 30px;
    color: #545454;
    opacity: 0.7;
    text-align: center;
    font-family: 'Poppins';
}

.username {
    font-size: 35px;
    color: black;
    opacity: 1;
    text-align: center;
    font-family: 'Poppins';
}

.title-row {
    text-align: start;
}

ion-button {
    width: 100%;
    height: 80%;
    color: white;
}

.entrance {
    --background: var(--ion-color-green);
    --box-shadow: 0px 2px 4px 0px grey;
    --background-activated:  var(--ion-color-green) !important;
    --background-focused:  var(--ion-color-green) !important;
    --background-hover:  var(--ion-color-green) !important;
}

.exit {
    --background: var(--ion-color-red);
    --box-shadow: 0px 2px 4px 0px grey;
    --background-activated:  var(--ion-color-red) !important;
    --background-focused:  var(--ion-color-red) !important;
    --background-hover:  var(--ion-color-red) !important;

}

.history {
    --background: var(--ion-color-grey);
    --box-shadow: 0px 2px 4px 0px grey;
    --background-activated:  var(--ion-color-grey) !important;
    --background-focused:  var(--ion-color-grey) !important;
    --background-hover:  var(--ion-color-grey) !important;
}

p {
    padding: 3%;
    font-size: 100%;
    text-align: center;
}

ion-item {
    margin: 5px;
    width: 100%;
    height: auto;
}

.dateAndTimeRow {
    margin-bottom: 20%;
    margin-top: 10%;
    padding: 0px;
}

.dateAndTimeText {
    font-size: 15px;
    margin-bottom: 4%;
}

.dateAndTime {
    font-size: 22px;
    margin-bottom: 4%;
}

@media  only screen and (min-width: 320px) and (max-width: 380px) and (orientation: portrait) {
    .dateAndTime{
        font-size: 20px;
    }

    .username {
        font-size: 30px;
    }

    .title {
        font-size: 25px;
    }


} 

@media only screen and (min-width: 500px) and (max-width: 800px) and (orientation: portrait) {
    .title{
        font-size: 45px;
    }

    .username {
        font-size: 55px;
    }

    ion-grid {
        margin: 0px 85px 0px 85px;
    }

    .dateAndTimeText {
        font-size: 30px;
    }

    .dateAndTime {
        font-size: 40px;
    }

    .dateAndTimeRow {
        margin-bottom: 10%;
        margin-top: 5%;
        padding: 0px;
    }

    ion-button {
        box-shadow: 3px 3px 16px 0px grey !important;
    }
}

@media only screen and (min-width: 801px) {
    .title{
        font-size: 55px;
    }

    .username {
        font-size: 70px;
    }

    ion-grid {
        margin: 0px 100px 0px 100px;
    }

    .dateAndTimeText {
        font-size: 35px;
    }

    .dateAndTime {
        font-size: 45px;
    }
    .dateAndTimeRow {
        margin-bottom: 10%;
        margin-top: 3%;
        padding: 0px;
    }

    ion-button {
       box-shadow: 3px 3px 16px 0px grey !important;
    }
}