<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
<ion-grid >
  <ion-row class="title-row">
    <ion-col>
      <ion-label class="title">{{ 'Benvenuto' }}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="title-row">
    <ion-col size="12">
      <ion-label class="username" *ngIf="!!userData">{{ userData.firstName }} {{ userData.lastName }}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="dateAndTimeRow">
    <ion-col size="8" size-xs="7" size-sm="6">
      <ion-label class="dateAndTimeText">Data</ion-label>
      <br>
      <ion-label class="dateAndTime">{{ date }}</ion-label>
    </ion-col>
    <ion-col size="4" size-xs="5" size-sm="6">
      <ion-label class="dateAndTimeText">Ora</ion-label>
      <br>
      <ion-label class="dateAndTime">{{ time }}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="button" class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="12" size="7" size-md="12">
      <ion-button 
        class="entrance"
        (click)='navigateEntrancePage()'
        [disabled]="!!checkinExists"
        >
        <p>Registra INIZIO</p>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="button" class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="12" size="7" size-md="12">
      <ion-button 
        class="exit"
        (click)='navigateExitPage()'
        [disabled]="!checkinExists">
        <p>Registra FINE</p> 
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="button" class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="12" size="7" size-md="12">
      <ion-button 
        class="history"
        (click)='navigateStampingPage()'
      >
        <p>Timbrature effettuate</p> 
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

