ion-grid {
    margin-top: 28%;
}

.loginBtn {
    --background: var(--ion-color-theme);
    --background-activated:  var(--ion-color-theme) !important;
    --background-focused:  var(--ion-color-theme) !important;
    --background-hover:  var(--ion-color-theme) !important;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 100%;
    --border-radius: 0px;
}

.button-login-row {
    height: 50px;
    width: 100%;
    justify-content: center;
}

ion-label {
    font-size: 14px;
}

ion-input {
    border: 1px solid #C8CED3;
    height: 40px;
    width: 100%;
    color:  var(--ion-color-theme);
    font-size: 15px;
    --placeholder-color:#C8CED3;
    --placeholder-opacity: 1;
    --padding-start: 10px;
    margin-bottom: 3%;
    margin-top: 2%;
}

img {
    min-width: 100%;
    min-height: 100%;
}

.version-col{
    display: flex;
    justify-content: center;
}

.version{
    color:  var(--ion-color-theme);
    text-align: center;
}

.forgot {
  color: red;
}

.invalid {
  border: 1px solid red;
}

.logo-row {
    width: 100%;
    margin-bottom: 6%;
}

// @media only screen and (min-width: 320px) and (max-width: 580px) and (orientation: portrait) {
//     ion-grid {
//         margin-top: 30%;
//     }
// }

@media only screen and (min-width: 580px) and (max-width: 680px) and (orientation: portrait) {
  ion-label {
      font-size: 16px;
  }

  .loginBtn { 
    font-size: 17px;
  }

  ion-input {
      font-size: 17px;
  }
}

@media only screen and (min-width: 680px) and (max-width: 780px) and (orientation: portrait) {
    ion-label {
        font-size: 18px;
    }
  
    .loginBtn { 
      font-size: 19px;
    }
  
    ion-input {
        font-size: 19px;
    }
}

@media only screen and (min-width: 781px) and (max-width: 880px) and (orientation: portrait) {
    ion-label {
        font-size: 20px;
    }
  
    .loginBtn { 
      font-size: 21px;
    }
  
    ion-input {
        font-size: 21px;
    }
}

@media only screen and (min-width: 881px) and (max-width: 1080px) {
    ion-label {
        font-size: 22px;
    }
  
    .loginBtn { 
      font-size: 23px;
    }
  
    ion-input {
        font-size: 23px;
    }
}

@media only screen and (min-width: 680px) and (max-width: 1080px) {
    ion-input {
        height: 55px;
    }

    .button-login-row {
        height: 60px;
    }
}
