<ion-content>
 <ion-grid 
    class="login-form">
  
   <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-row justify-content-center class="logo-row">
      <ion-col size-xs="9" size-sm="8" size-md="7" size-lg="7" size-xl="7">
        <div class="logo">
          <img 
            src="../../../../assets/images/logo.svg" 
            alt="vision e impresa logo">
        </div>
      </ion-col>
    </ion-row>
     <ion-row justify-content-center>
       <ion-col size-xs="9" size-sm="8" size-md="7" size-lg="7" size-xl="7">
         <ion-label>Codice Azienda</ion-label>
          <ion-input
            type="text"
            required
            placeholder="123"
            formControlName="codiceAzienda"
            [ngClass]="{'invalid': !!submitted && !!validate.codiceAzienda.invalid}"
          ></ion-input>
          <ion-label class="forgot" *ngIf="!!submitted && !!validate.codiceAzienda.invalid">Inserire Codice Azienda, prego!</ion-label>
        </ion-col>
        <ion-col size="9" size-sm="8" size-md="7" size-lg="7" size-xl="7">
          <ion-label>Codice utente</ion-label>
          <ion-input 
            type="text"
            placeholder="1234"
            required
            formControlName="codiceUtente"
            [ngClass]="{'invalid': !!submitted && !!validate.codiceUtente.invalid}">
          </ion-input>
        <ion-label class="forgot" *ngIf="!!submitted && !!validate.codiceUtente.invalid">Inserire codice utente, prego'!</ion-label>
        </ion-col>
        <ion-col size-xs="9" size-sm="8" size-md="7" size-lg="7" size-xl="7">
          <ion-label>Password</ion-label>
          <ion-input
            type="password"
            required
            clearOnEdit="true"
            placeholder="password"
            formControlName="password"
            [ngClass]="{'invalid': !!submitted && !!validate.password.invalid}">
          </ion-input>
       <ion-label class="forgot" *ngIf="!!submitted && !!validate.password.invalid">Inserire password, prego!</ion-label>
       </ion-col>
     </ion-row>
     <ion-row class="button-login-row">
      <ion-col size-xs="9" size-sm="8" size-md="7" size-lg="7" size-xl="7">
         <ion-button
         class="loginBtn" 
           type="submit"
          [disabled]="!button">
           Login
         </ion-button>
      </ion-col>
    </ion-row>
     <ion-row  v-if="!!versionNumber" class="button-login-row">
      <ion-col margin-top class="version-col" size-xs="9" size-sm="8" size-md="7" size-lg="7" size-xl="7">
         <ion-label class="version">Versione {{versionNumber}}</ion-label>
      </ion-col>
    </ion-row>
   </form>

 </ion-grid>
</ion-content>
