
<div>
  <div>
    <div class="logo">
      <a 
        url="['/home']" 
        target="_self"
      >
        <img 
          src="../../../../assets/images/logo.svg" 
          alt="vision e impresa logo"
        >
      </a>
    </div>
  </div>
</div>