.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 420px) and (orientation: portrait)  {
    a img {
        width: 220px;
        height: 55px;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 420px) and (max-width: 820px) and (orientation: portrait) {
    a img {
        width: 720px !important;
        height: 82px !important;
        margin-top: 8% !important;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1025px) {
    a img {
        width: 950px;
        height: 95px;
        margin-top: 8%;
    }
}

