<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="button" class="ion-justify-content-center">
        <ion-col size="1.3" class="nota causale" class="ion-align-self-center ion-margin-bottom"  (click)="getBarcode()">
          <ion-icon class="camera-icon" name="camera"></ion-icon>
        </ion-col>
        <ion-col size="6" class="nota" class="ion-margin-bottom">
          <ion-item>
            <ion-label class="causale-input" position="floating">Codice causale</ion-label>
            <ion-input readonly="true" type="text" (ionChange)="displayDescription(getCausaleCode)" [(ngModel)]="getCausaleCode" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1.3" class="nota causale" class="ion-align-self-center ion-margin-bottom" (click)="causaliPopover()">
          <ion-icon class="camera-icon" name="arrow-down" mode="ios"></ion-icon>
        </ion-col>
        <ion-col size="10" class="nota">
          <ion-item *ngIf="!error && !!causaleDescription" lines="none">
           <ion-text class="causaleDescription">{{ causaleDescription }}</ion-text>
          </ion-item>
          <ion-item *ngIf="error" lines="none">
            <ion-label class="errorCase">{{ errorMessage }}</ion-label>
          </ion-item>
        </ion-col>
       <ion-col size="6" class="nota" offset="1.3" class="ion-margin-bottom">
        <ion-item [disabled]="causalePosition !== null">
         <ion-label class="causale-input" position="floating">Posizione</ion-label>
         <ion-input readonly="true" type="text" (ionChange)="givenPosition($event)" [(ngModel)]="this.positionSelectedDes" required></ion-input>
        </ion-item>
       </ion-col>
        <ion-item [disabled]="causalePosition !== null" lines="none" no-margin no-padding>
          <ion-col size="1.3" class="nota causale" class="ion-align-self-center ion-margin-bottom" (click)="positionPospover()">
            <ion-icon class="camera-icon" name="arrow-down" mode="ios"></ion-icon>
          </ion-col>
        </ion-item>
        <ion-col size="10" class="nota" offset="1.3" class="ion-margin-bottom">
          <ion-label *ngIf="!!errorPositon"> {{ errorPositon }} </ion-label>
        </ion-col>
      <ion-col size="7">
        <p class="ora">{{ 'Ora' }}</p>
      </ion-col>
      <ion-col size="6">
        <p class="nota">{{'Nota'}}</p>
      </ion-col>
      <ion-col size="6"><p class="time">{{ time }}</p></ion-col>
    </ion-row>
    <ion-row class="button" class="ion-justify-content-center">
      <ion-col size-xs='9' size-sm="8" size="7">
        <ion-textarea 
          rows="8"
          cols="27"
          [(ngModel)]="leavedNote"
          placeholder="Scrivi i tuoi appunti..."
          (ionChange)="leaveNote(leavedNote)"
        ></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row class="button" class="ion-justify-content-center ion-margin-bottom">
      <ion-col size-xs='9' size-sm="8" size="7">
        <ion-button
          class="entranceButton"
          (click)="entranceRegistered()"
          [disabled]="!activate && leavedNote.length === 0"
        >
          <p>{{ buttonName }}</p>
        </ion-button>
      </ion-col>
      <ion-col size-xs='9' size-sm="8" size="7">
        <ion-button
          class="backButton"
          (click)="backButton()">
        <p>{{ backButtonName }}</p>
      </ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
